<div>
  <%= form_for [portfolio], :class => 'portfolio-create-ajax inline', remote: true do |f| %>

    <div class="form-group">

    <div class="col-md-2">
    <%= f.text_field :name,
                     class: 'form-control',
                     value: "" %>
    <%= f.label :name%>  
    </div>

    <div class="col-md-4"> 
    <%= button_to "Add Portfolio", new_portfolio_path(@portfolio), class: 'btn btn-success pull-left', disabled: true  %>

    </div>
    <% end %>
</div>
</div>

  
