 <% if portfolios.empty?  %>
   <div class="filler-text">We require more vespene gas.  Add some portfolios now!</div>
  <% else %>
  <div class="row" id="list_head">
   <div class="col-md-3 text-info">Name</div>
   <div class="col-md-3 text-info">Change</div>
   <div class="col-md-3 text-info">Stocks</div>
  </div>
  
   <% portfolios.each do |portfolio| %> 

   <div class="js-portfolio row" id="<%= "portfolio-row-#{portfolio.id}" %>">
     <%= render portfolio %>
   </div>

  <% end %>

 <% end %>
