<% @stocks = portfolio.stocks %>
<% @total = 0.0 %>
<% @stocks.each do |stock| %>
  <% @change_fraction = nil %>
  <% @change_percentage = nil %>
  <% @change_fraction = stock.change.to_f / (stock.lasttradepriceonly.to_f + stock.change.to_f) %>
  <% @total += @change_fraction %>
<% end %>
<% @total_percentage = number_to_percentage(@total * 100, precision: 2) %>
<% if @total >= 0 %>
  <% @total_change_sign = "+" %>
  <% @condition_class = "text-success" %>
<% else %>
  <% @total_change_sign = nil %>
  <% @condition_class = "text-danger" %>
<% end %>
<% @total_pct_string = @total_change_sign.to_s + @total_percentage.to_s %>


  <div class="col-md-3">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">

          <%= link_to portfolio.name, portfolio_path(portfolio.id) %>
          
        </h4>
      </div>
    </div>
  </div>
  <% if portfolio.stocks.present?  %>
  <div class="col-md-3 <%= "#{@condition_class}" %>">
    <%= @total_pct_string %>
  </div>
  <div class="col-md-3">
    <% @symbols = @stocks.pluck(:symbol) %>
    <%= @symbols.join(",") %>
  </div>   

  <% else %>
  <div class="col-md-3 empty">
    (empty)
  </div>   
  <% end  %>
