  <div class="form-group">
    <%= form_for [portfolio, stock], remote: true do |f| %>
    <%= f.label :symbol %>
    <%= f.text_field :symbol,
                     class: 'form-control',
                     placeholder: "Enter stock symbol",
                     value: "" %>
    <%= f.submit "Submit Stock", class: 'btn btn-default pull-right' %>     
    <% end %>
  </div>