<div>
  <%= form_for [portfolio, stock], remote: true do |f| %>
    <div class="form-inline">
    <div class="form-group">      
    <%= f.text_field :symbol,
                     class: 'form-control inline',
                     placeholder: "Symbol",
                     value: "" %>
  <%= button_tag( :class => "btn btn-default inline") do %>
    <span class="glyphicon-plus text-success"></span>
  <% end %>
  
    <% end %>
</div>
  </div>
  </div>