 <% if stocks.empty?  %>
   <h4 class="empty_head">Portfolio is empty.  Please add some stocks.</h4>
  <% else %>

  <div class="row" id="list_head">
   <div class="col-md-1">Symbol</div>
   <div class="col-md-1">Price</div>
   <div class="col-md-1">Change</div>
   <div class="col-md-1">Percent</div>
   <div class="col-md-2">Volume</div>
   <div class="col-md-2">Avg Dly Vol</div>
   <div class="col-md-1 tag-tooltip" data-toggle="tooltip" data-placement="top" title="A fancy algorithm is telling you what to do.">Ticks</div>
  </div>
  
   <% stocks.each do |stock| %> 

   <div class="js-stock row" id="<%= "stock-row-#{stock.id}" %>">
     <%= render stock %>
   </div>

  <% end %>
  
<script type="text/javascript">

  var refresh_rate = 60000

  init_count($("#portfolio_id").val(), refresh_rate);

</script>
 <% end %>
