 <% if stocks.empty?  %>
   <h4 class="empty_head">Portfolio is empty.  Please add some stocks.</h4>
  <% else %>
  <div class="row" id="list_head">
   <div class="col-md-2">Symbol</div>
   <div class="col-md-2">Price</div>
   <div class="col-md-2">Change</div>
   <div class="col-md-2">Volume</div>
   <div class="col-md-2">Tick Chart</div>
  </div>
   <% stocks.each do |stock| %> 
   <div class="media">
    <div class="media-body">   
    <div class="js-stock row">
     <%= render stock %>

        <div class="col-md-2 stock_canvas"><%=content_tag :canvas, 'canvas', id: "canvas-#{stock.id}", class: 'tick_chart', width: '200', height: '14' %></div>
      </div>
     </div>     
</div>

  <% end %>
 <% end %>