 <% if stocks.empty?  %>
   <h4 class="empty_head">Portfolio is empty.  Please add some stocks.</h4>
  <% else %>
   <% stocks.each do |stock| %> 
    <div class="js-stock">
     <%= render stock %>
    </div>
  <% end %>
 <% end %>