 <% if @stock.valid? %>

   $('.js-stocks').prepend("<%= escape_javascript(render(@stock)) %>");
  <% else %>
   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
 <% end %>