<div class="home">
  
  <h2>Portfolios</h2>
  <div class="panel home-container">
    <div class='js-portfolios'>
      <%= render partial: "portfolios/list", class: 'portfolioslist', locals: { portfolios: @user.portfolios } %>
    </div>
  </div>
  <div class="btn-row row">
    <div class="col-md-12 new-portfolio">
           <%= render 'portfolios/form', user: @user, portfolio: Portfolio.new  %>
    </div>
  </div> 


  <h2>Active Alerts</h2>
  <div class="panel home-container">
      <div class='js-alerts'>
        <%= render partial: "alerts/list", class: 'alertslist', locals: { alerts: @user.alerts } %>
      </div>
  </div>
  <div class="btn-row row">
    <div class="col-md-12 new-alert">
           <%= render 'alerts/form', user: @user, alert: Alert.new  %>
    </div>
  </div> 
  
</div>
<script>
$(document).ready(function() {
    $('a[disabled=disabled]').click(function(event){
      console.log('click')
        event.preventDefault(); // Prevent link from following its href
      });
    });
  </script>
