<h1><%= @stock.symbol %> &nbsp;|&nbsp; <%= @stock.name %></h1>

  <div class="row" id="history_head">
   <div class="col-md-2">Date</div>
   <div class="col-md-2">Open</div>
   <div class="col-md-1">High</div>
   <div class="col-md-1">Low</div>
   <div class="col-md-2">Close</div>   
   <div class="col-md-2">Volume</div>
   <div class="col-md-2">Adj_Close</div>   
  </div>    
    <div class="row">
      <% @stock.histories.each_with_index do |history, i| %> 
      
        <%= render history, index: i %>
        
      <% end %>
    
    </div>

</div>


