 <!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>Alert has fired for "<%= @stock.symbol %>"</h1>
     <small>
       Target: <%= @alert.price_target %>
     </small>
     <p>
       Last traded price: <%= @stock.lasttradepriceonly %>
     </p>
     <p>

       <%= link_to "View Comment on site", topic_post_url(@post.topic, @post, anchor: "comment-#{@comment.id}") %>
     </p>
   </body>
 </html>