<div class="col-md-2"><%= alert.stock.symbol %></div>
<div class="col-md-2"><%= alert.price_initial %></div>
<div class="col-md-2"><%= alert.price_target %></div>
<div class="col-md-2"><%= alert.expire %></div>