<div class="col-md-1">alert.stock.symbol</div>
<div class="col-md-1">alert.price_initial</div>
<div class="col-md-1">alert.price_target</div>
<div class="col-md-1">alert.expire</div>
<div class="col-md-2">alert.symbol</div>