 <% if alerts.empty?  %>
   <div class="filler-text">You have no alerts.  It is kind of sad.</div>
  <% else %>
  <div class="row" id="list_head">
   <div class="col-md-2 text-info">Symbol</div>
   <div class="col-md-2 text-info">Initial Price</div>
   <div class="col-md-2 text-info">Target Price</div>
   <div class="col-md-2 text-info">Expires</div>
  </div>
  
   <% alerts.each do |alert| %> 

   <div class="js-alert row" id="<%= "alert-row-#{alert.id}" %>">
     <%= render alert %>
   </div>

  <% end %>
 <% end %>
