// Place all the styles related to the Alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#alert_price_initial {
    color: white;
}
#new_alert {
    text-align:center;
}
#new_alert label {
    margin: 0 auto;
}