// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google-logo {
  display: block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background-image: image-url('new-google-favicon.svg');
  background-size: 16px 16px;
}