// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google-logo {
    display: block !important;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  background-image: image-url('new-google-favicon.svg');
  background-size: 18px 18px;
  margin: 0  auto;
}

.flash {
    min-height: 70px;
}

.home-container {
    min-height: 200px;
    padding: 8px;
}
.btn-row {
    margin: 4px;
}
.home .panel {
    margin-bottom: 4px;
};
.filler-text {
    line-height: 200px;
    text-align:center;
}

.home .btn {
    min-width: 130px;
}
.brand {
    width:100%;
    display:inline-block;
}
.brand a {
 width: 100%;
text-align: center;    
}