// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.empty {
    color: 'gray';
}
.top-buffer { 
    margin-top:20px;
}

.dotted{
  border-bottom: 1px dashed #999;
  text-decoration: none; 
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    margin: 11px;
    float: none;
}

#new_portfolio .button_to {
    text-align:center;
}
#new_portfolio label {
    margin: 0 auto;
    text-align:left;
}