// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.js-stocks {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.js-stock {
    margin: 8px;
}
.white-bg {
    background-color: white;
}

.text-bold {
    font-weight: bold;
}

.text-norm {
    color: black;
    font-weight: normal;
}

.bg-norm {
    background-color: white;
}

.transition-bold{
    -webkit-transition: font-weight 2s;
    -moz-transition: font-weight 2s;
    transition: font-weight 2s;
}

.transition-bg-color{
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    transition: background-color 1s;
}

.transition-color{
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
}

.stock {
    margin: 8px;
    border-radius: 25px;
}