// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.js-stocks {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 6px;
}


.white-bg {
    background-color: white;
}


.transition-bg-color{
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
}

.transition-color{
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}

.stock {
    margin: 8px;
    border-radius: 25px;
}